@charset "UTF-8";

html {
    image-rendering: -webkit-optimize-contrast;
    -webkit-font-smoothing: antialiased;
    background-color: #efefef !important;
}

body {
    margin: 0;
}

.header {
    border-bottom: yellow 1px solid;
    box-shadow: 0px 1px 0.5rem rgba(83,78,76,.5);
}

.header-link {
    margin: 8px 4px 8px 4px;
    border-radius: 4px;
}

.text-content {
    padding: 20px;
    background-color: #FFF;
}

.projectImg {
    width: auto !important;
    box-shadow: 0 0 2px #000;
    margin-bottom: 20px;
}