---
---

@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

$highlight-color: #d2603a;
$font-size-med: 1.3rem;

.highlighted {
  color: $highlight-color;
}

.font-med {
  font-size: $font-size-med;
}
